<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

<div th:if="${param.error}">
    Senha ou usuário incorretos!
</div>
<div th:if="${param.logout}">
    Deslogado!
</div>

<form th:action="@{/login}" method="post">

    <div>
        <label>
            Username
            <input type="text" name="username">
        </label>
    </div>
    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <input type="submit" value="enviar">
    </div>
</form>

</body>
</html>